.title-container {
  padding: 20px;
  background-color: rgb(66, 66, 66);
  color: white;
  text-align: center;
  
}

.container {
  padding: 20px;
}

.btn-container {
  margin-top: 20px;
  width: 100%; 
}

.city-button {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: transparent;
  width: 100%;
}

.city-weather-container {
  /* border: 2px solid lightgrey; */
  /* background-color: limegreen; */
  margin-left: 40px ;
}

.forecast-container {
  margin-top: 20px;
  margin-left: 40px;
}

.day-container {
  background-color: rgb(27, 116, 250);
  border-radius: 3px;
  font-size: 18px;
  color: white;
  margin: 10px;

}


