/* header style */
.title-container {
/* box-model*/
  padding: 20px;
  background-color: rgb(66, 66, 66);
  text-align: center;
  font-size: 32px;
  color: white;
  
}
/* main contenct box-model */
.container {
  padding: 20px;
}

/* city seached history container style */
.btn-container {
  /* box-model */
  margin-top: 20px;
  width: 100%; 
}
/* city seached history button style */
.city-button {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: transparent;
  width: 100%;
}

/* current city real time weather box-model */
.city-weather-container {
  margin-left: 40px ;
}

/* 5-day forecast box-model */
.forecast-container {
  margin-top: 20px;
  margin-left: 40px;
}

/* 5-day forecast individual day style */
.day-container {
  background-color: rgb(27, 116, 250);
  border-radius: 3px;
  font-size: 18px;
  color: white;
  /* box-model */
  margin: 10px;
}

